/*universal selector start*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(147, 165, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*universal selector end*/

.main_quiz_container{
    width: 600px;
    max-width: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); */
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}
.question_stack{
    padding: 3rem;
}
.ul_selector{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.ul_selector li{
    padding: 0.6rem 0;
    align-items: center;
    cursor: pointer;
}
h2{
    /* max-width: 700px; */
    padding: 20px 20px;
}
.submit_button{
    display: block;
    width: 100%;
    border: none;
    padding: 1rem;
    background-color: rgb(42, 42, 196);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    color: white;
    font-size: 28px;
    transition: 0.3s;
}
.submit_button:hover{
    background-color: rgb(18, 18, 137);
    color: white;
    cursor: pointer;
}